{% extends 'base/base.html' %}

{% load static %}
{% load function_extras %}

{% block javascript %}
{{ block.super }}	
<script src="{% static 'js/convenios.js' %}"></script>
{% endblock %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Convênios{% endblock %}
{% block body %}
	{% block breadcrumbs %}
		{% breadcrumb_safe "<i class='fas fa-home'></i>" "home" %}
		{% breadcrumb " Convênios " "convenios" %}
		{% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
	{% endblock %}
	{% block search %}
	<div class="mb-2"> 
		<div class="row">
			<div class="col-md-12"> 
				<div>
					<div class="row">
						<div class="col-md-6 text-right">
							<form action="{% url 'convenios' %}" method="get" autocomplete="off"> 
								<div class="input-group input-group-sm"> 
							        <input name="search" type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar" /> 
									<div class="input-group-append"> 
								        <button class="btn btn-outline-agiliza" type="submit"><i class="fas fa-search"></i> Buscar</button>
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-6 text-right">
							<a href="{% url 'relatorio-convenios' %}" class="btn btn-sm btn-danger" target="_blank">PDF</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	<div class="row">
		<div class="col-md-12">
			{% if convenios %}
			<table class="table table-bordered">
				<thead>
					<tr>
						<th width="1%"><i class="fas fa-asterisk"></i></th>
						<th>Prefeitura
							<ul class="navbar-nav mr-auto d-inline-block float-right">
								<li class="nav-item dropdown">
									<a class="nav-link link-agiliza dropdown-toggle p-0" href="javascript: void(0)" role="button" data-toggle="dropdown" aria-expanded="false"> <i class="fas fa-filter"></i> </a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li>
											<a class="dropdown-item {% if not filter_prefeitura %}disabled{% endif %}" href="{% url 'convenios' %}">
												Todas
												{% if not filter_prefeitura %}
													<i class="fas fa-check"></i>
												{% endif %}
											</a>
										</li>
									{% for prefeitura in choices_prefeitura %}
										<li>
											<a class="dropdown-item {% if prefeitura.id == filter_prefeitura %}disabled{% endif %}" href="{% url 'convenios' %}{% relative_url prefeitura.id 'prefeitura' %}">
												{{ prefeitura.nome }}
												{% if prefeitura.id == filter_prefeitura %}
													<i class="fas fa-check"></i>
												{% endif %}
											</a>
										</li>
									{% endfor %}
									</ul>
								</li>
					     	</ul>
					     </th>
						<th>Objeto</th>
						<th>Número Convênio</th>
						<th>Proposta</th>
						<th width="1%">R$ Valor</th>
					</tr>
				</thead>
				<tbody>
					{% for convenio in convenios %}
					<tr>
						<td class="text-center">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item dropdown text-center">
									<a href="javascript: void(0)" class="nav-link link-agiliza dropdown-toggle p-0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-bars"></i> </a>
									<ul class="dropdown-menu">
										<li>
											<a href="{% url 'protocolo' convenio.id %}" class="dropdown-item"> Histórico </a>
										</li>
										{% if perms.base.add_convenio %}
										<li>
											<a href="{% url 'convenio_projeto_controle' convenio.id %}" class="dropdown-item"> Elaboração de Projeto </a>
										</li>
										{% endif %}
									</ul>
								</li>
							</ul>
						</td>
						<td>{{ convenio.proposta.prefeitura }}</td>
						<td>{{ convenio.proposta.objeto }}</td>
						<td>{{ convenio.numero }}</td>
						<td><a href="{% url 'proposta' convenio.proposta.id %}">{{ convenio.proposta.numero }}</a></td>
						<td class="text-right">{% load l10n %}{{ convenio.proposta.valor_convenio|floatformat:2|localize }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

			<div> 
                <div class="float-right">
                    <nav aria-label="Page navigation align-items-end">
						<div class="pagination">
						    <span class="step-links">
						        {% if convenios.has_previous %}
						            <a href="?page=1">
			                            <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
			                        </a>
						            <a href="?page={{ convenios.previous_page_number }}">
			                        	<span aria-hidden="true"><i class="fas fa-angle-left"></i></span>
			                        </a>
						        {% endif %}

						        <span class="current">
						            Página {{ convenios.number }} de {{ convenios.paginator.num_pages }}.
						        </span>

						        {% if convenios.has_next %}
						            <a href="?page={{ convenios.next_page_number }}">
			                            <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
			                        </a>
						            <a href="?page={{ convenios.paginator.num_pages }}">
			                            <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
			                        </a>
						        {% endif %}
						    </span>
						</div>
                    </nav>
                </div>
			</div>
			{% else %}
			<div class="alert alert-info mb-0">Nenhum convenio cadastrado!</div>
			{% endif %}
		</div>
	</div>

	<!-- Modal Cadastrar Projeto -->
	<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form method="post" id="formConvenioProjeto" autocomplete="off">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Cadastrar Projeto</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<select name="orgao" class="form-control custom-select custom-select-sm">
									<option value=""> Selecione Orgão </option>
									{% for orgao in orgaos %}
									<option value="{{orgao.id}}"> {{orgao.descricao}} </option>>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label>Tipo de projeto</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="estradas" class="form-check-input" id="idEstradas" />
									<label for="idEstradas" class="form-check-label"> Estradas </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="equipamento" class="form-check-input" id="idEquipamentos" />
									<label for="idEquipamentos" class="form-check-label"> Equipamentos </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="praca" class="form-check-input" id="idPraca" />
									<label for="idPraca" class="form-check-label"> Praça </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="centro_esportivo" class="form-check-input" id="idCentroEsportivo" />
									<label for="idCentroEsportivo" class="form-check-label"> Centro Esportivo </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="pavimentacao" class="form-check-input" id="idPavimentacao" />
									<label for="idPavimentacao" class="form-check-label"> Pavimentação </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="edificacao" class="form-check-input" id="idEdificacao" />
									<label for="idEdificacao" class="form-check-label"> Edificação </label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary btn-sm"> <i class="fas fa-check-circle"></i> Salvar </button>
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
