{% extends 'base/base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block title %} Elaboração de Projeto {% endblock %}
{% block action %}
<div class="row">
	<div class="col-md-12 text-right mb-2">
		{% if not controle %}
		<a href="{% url 'projeto_controle' convenio.id %}" class="btn btn-sm btn-link-agiliza px-3">CRIAR <i class="fas fa-plus"></i> </a>
		{% endif %}
	</div>
</div>
{% endblock %}
{% block body %}
	{% block breadcrumbs %}
		{% breadcrumb_safe "<i class='fas fa-home'></i>" "/" %}
		{% breadcrumb " Convênios " "convenios" %}
		{% breadcrumb " Elaboração de Projeto " "convenio_projeto_controle" convenio.id %}
		{% render_breadcrumbs %}
	{% endblock %}

	{% csrf_token %}

	<div class="row">
		<div class="col-md-12">

			{% if controle %}
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Orgão</th>
						<th>Projeto</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ controle.orgao }}</td>
						<td>{{ controle.projeto.get_tipo_display }}</td>
					</tr>
				</tbody>
			</table>
			{% else %}
			<div class="alert alert-info mb-0">Nenhum projeto criado!</div>
			<br>
			{% endif %}
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Item</th>
						<th>Opção</th>
						<th>Responsável</th>
						<th>Data Prevista</th>
						<th width="1%"></th>
						<!-- <th width="1%"></th> -->
					</tr>
				</thead>
				<tbody>
					{% if itens %}
					{% for item in itens %}
					<tr class="item-controle">
						<td>
							<div class="descricao">{{ item.descricao }}</div>
							<div class="observacoes text-danger">{{ item.item_controle.observacoes }}</div>
						</td>
						<td class="alternativa">{{ item.item_controle.alternativa|default:"" }}</td>
						<td class="responsavel">{{ item.item_controle.responsavel|default:"" }}</td>
						<td class="data_prevista">{{ item.item_controle.data_prevista|date:"d/m/Y"|default:"" }}</td>
						<td class="p-1 text-center" style="vertical-align: middle;">
							<a href="javascript: void(0);" class="btn btn-sm btn-link adicionar-item-controle" data-posicao="{{ forloop.counter0 }}" data-item-id="{{ item.id }}" data-id="{{ item.item_controle.id|default:False }}" onclick="abrirItemModal(this)"> <i class="fas fa-check"></i> </a>
						</td>
						<td class="p-1 text-center remover" style="vertical-align: middle;">
							{% if item.item_controle %}	
							<a href="javascript: void(0);" class="btn btn-sm btn-link text-danger" data-posicao="{{ forloop.counter0 }}" data-id="{{ item.item_controle.id }}" onclick="removerItemControle(this)"><i class="fas fa-times"></i></a>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
					{% endif %}
				</tbody>
			</table>
		</div>
	</div>

	<!-- Item Modal -->
	<div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<form id="itemControleForm" class="form" onsubmit="submeterItemControle(this)">
				<div class="modal-header">
					<h5 class="modal-title" id="itemModalLabel">Item</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" name="controle" value="{{ controle.id }}" id="id_controle" />
					<input type="hidden" name="item" id="id_item" />
					<div class="row">
						<div class="col-md-5 form-group">
							<label for="id_prefeitura">Opção</label>
							{{ projeto_controle_item_form.alternativa }}
						</div>
						<div class="col-md-3 form-group">
							<label for="id_prefeitura">Data Prevista</label>
							{{ projeto_controle_item_form.data_prevista }}
						</div>
						<div class="col-md-4 form-group">
							<label for="id_prefeitura">Responsável</label>
							{{ projeto_controle_item_form.responsavel }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="id_prefeitura">Observações</label>
							{{ projeto_controle_item_form.observacoes }}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="id_prefeitura">Comentário</label>
							{{ projeto_controle_item_form.comentario }}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal"> <i class="fas fa-times"></i> Cancelar </button>
					<button type="submit" class="btn btn-primary"> <i class="fas fa-plus-circle"></i> Salvar </button>
				</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		let token = document.getElementsByName('csrfmiddlewaretoken')[0].value

		let abrirItemModal = (el) => {
			let posicao = pegarPosicaoItem(el)
			$('#itemModal').modal('show')
			document.getElementById('itemControleForm').dataset.posicao = posicao
			document.getElementById('id_item').value = el.dataset.itemId
			// document.getElementById('id_item_controle').value = el.dataset.id
		}


		let submeterItemControle = (formulario) => {
			event.preventDefault()
			let posicao = formulario.dataset.posicao
			dados = new FormData(formulario)
			apiSubmeterDadosItemControle(dados, posicao)
		}

		let removerItemControle = (el) => {
			let id = el.dataset.id
			let posicao = el.dataset.posicao
			console.log(el.dataset)
			apiDeletarItemControle(id, posicao)
		}

		let apiSubmeterDadosItemControle = (dados, posicao = false) => {
			fetch(`/api/item/controle`, {
				method: 'POST',
				headers: {
					'X-CSRFToken': token
				},
				body: dados
			})
			.then(response => response.json())
			.then(data => {
				console.log('Success: ', data)
				apiCarregarDadosItemControle(data.id, posicao)
				fecharItemModal()
			})
			.catch(error => console.log('Error: ', error)) }

		let apiCarregarDadosItemControle = (id, posicao = false) => {
			fetch(`/api/item/controle/${id}`, {
				method: 'GET',
				headers: {
					'X-CSRFToken': token
				}
			})
			.then(response => response.json())
			.then(data => {
				console.log('Success: ', data)
				carregarItemControle(data, posicao)
			})
			.catch(error => console.log('Error: ', error)) }

		let carregarItemControle = (item, posicao = false) => {
			let alternativa = document.getElementsByClassName('alternativa')[posicao]
			let observacoes = document.getElementsByClassName('observacoes')[posicao]
			let responsavel = document.getElementsByClassName('responsavel')[posicao]
			let data_prevista = document.getElementsByClassName('data_prevista')[posicao]
			let remover = document.getElementsByClassName('remover')[posicao]
			alternativa.innerHTML = item.alternativa.descricao
			observacoes.innerHTML = item.observacoes
			responsavel.innerHTML = item.responsavel.nome
			data_prevista.innerHTML = formatarData(item.data_prevista)
			remover.innerHTML = `<a href='javascript: void(0);' onclick='removerItemControle(this)' data-id='${item.id}' class='btn btn-sm btn-link text-danger'><i class='fas fa-times'></i></a>`
		}

		let deletarItemControle = (posicao = false) => {
			console.log(posicao)
			console.log(document.getElementsByClassName('alternativa')[posicao])
			let alternativa = document.getElementsByClassName('alternativa')[posicao]
			let observacoes = document.getElementsByClassName('observacoes')[posicao]
			let responsavel = document.getElementsByClassName('responsavel')[posicao]
			let data_prevista = document.getElementsByClassName('data_prevista')[posicao]
			let remover = document.getElementsByClassName('remover')[posicao]
			alternativa.innerHTML = ''
			observacoes.innerHTML = ''
			responsavel.innerHTML = ''
			data_prevista.innerHTML = ''
			remover.innerHTML = ''
		}

		let apiDeletarItemControle = (id, posicao = false) => {
			fetch(`/api/item/controle/${id}`, {
				method: 'DELETE',
				headers: {
					'X-CSRFToken': token
				}
			})
			.then(response => console.log(response))
			.then(data => {
				console.log('Success: ', data)
				deletarItemControle(posicao)
			})
			.catch(error => console.log('Error: ', error)) }

		let fecharItemModal = () => {
			$('#itemModal').modal('hide')
		}

		function pegarPosicaoItem(item) {
			var lista = document.getElementsByClassName('adicionar-item-controle')
			lista = [].slice.call(lista)
			posicao = lista.indexOf(item)
			return posicao
		}

		function formatarData(data) {
			elemento = data.split('-')
			data = [elemento[2], elemento[1], elemento[0]]
			data = data.join('/')
			return data
		}
	</script>
{% endblock %}
