{% extends 'base/base.html' %}

{% load static %}
{% load function_extras %}

{% block javascript %}
{{ block.super }}	
<script src="{% static 'js/convenios.js' %}"></script>
{% endblock %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Convênios{% endblock %}
{% block body %}
	{% block breadcrumbs %}
		{% breadcrumb_safe "<i class='fas fa-home'></i>" "home" %}
		{% breadcrumb " Convênios " "convenios" %}
		{% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
	{% endblock %}
	{% block search %}
	<div class="mb-2"> 
		<div class="row  row-btns">
			
			<form action="{% url 'convenios' %}" method="get" autocomplete="off" class="btngroup1"> 
				<div class="input-group input-group-sm"> 
					<input name="search" type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar" /> 
					<div class="input-group-append"> 
						<button class="btn btn-outline-agiliza" type="submit"><i class="fas fa-search"></i> Buscar</button>
					</div>
				</div>
				{% if search %}
				<div>
					<strong>Filtrado por: </strong>
					<span class="mr-2"><u>{{ search }}</u></span>
					<a href="{% url 'convenios' %}"><strong>Limpar</strong></a>
				</div>
				{% endif %}
			</form>
			<div class="btngroup2">
				{% if perms.base.add_convenio %}
					<a href="javascript: void(0)" data-toggle="modal" data-target="#fltr-prefeitura" class="btn btn-sm link-agiliza mgr5 mobile"><i class="fas fa-filter"></i> Prefeitura</a>
					<!-- Modal -->
					<div class="modal fade" id="fltr-prefeitura" tabindex="-1" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Clientes</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="row">
										<a class="mod-item {% if not filter_prefeitura %}disabled{% endif %}" href="{% url 'convenios' %}">
											Todas
											{% if not filter_prefeitura %}
												<i class="fas fa-check"></i>
											{% endif %}
										</a>
									</div>
									{% for prefeitura in choices_prefeitura %}
										<div class="row">
											<a class="mod-item {% if prefeitura.id == filter_prefeitura %}disabled{% endif %}" href="{% url 'convenios' %}{% relative_url prefeitura.id 'prefeitura' %}">
												{{ prefeitura.nome }}
												{% if prefeitura.id == filter_prefeitura %}
													<i class="fas fa-check"></i>
												{% endif %}
											</a>
										</div>
									{% endfor %}
								</div>
								<!--
								<div class="modal-footer">
									<button type="submit" class="btn btn-primary btn-sm"> Salvar <i class="fas fa-paper-plane"></i> </button>
								</div>
								-->
							</div>
						</div>
					</div>
					<!-- Modal -->
				{% endif %}
				<a href="{% url 'relatorio-convenios' %}" class="btn btn-sm btn-danger" target="_blank">PDF</a>
				
			</div>
					
		</div>
	</div>
	{% endblock %}
	<div class="row">
		<div class="tableplus">
			{% for convenio in convenios %}
				<div class="tp-item">
					<div class="tp-prefeitura">
						<div>
							{{ convenio.proposta.prefeitura }}
						</div>
						<div>
							<a href="{% url 'protocolo' convenio.id %}" class="medicon" target="_blank">
								<i class="fas fa-history"></i>
							</a>
						</div>
					</div>
					<div class="tp-dados">
						<div class="tp-dados-left">
							{{ convenio.proposta.objeto }}
						</div>
						<div class="tp-dados-right">
							R$ {% load l10n %}{{ convenio.proposta.valor_convenio|floatformat:2|localize }}
						</div>
					</div>
					<div class="tp-situacao">
						<div>
							{{ convenio.numero }}
						</div>
						<div class="sit-convenio">
							{% if convenio.situacao == 'aguardando-aprovacao' %}
								<div class="conv">1º - Aguardando Aprovação do Projeto</div>
							{% elif convenio.situacao == 'projeto-aprovado' %}
								<div class="conv">2º - Projeto Aprovado, Aguardando Licitação</div>
							{% elif convenio.situacao == 'aguardando-aceite-licitacao' %}
								<div class="conv">3º - Licitação Enviada, Aguardando Aceite</div>
							{% elif convenio.situacao == 'licitacao-aprovada' %}
								<div class="conv">4º - Licitação Aprovada, Aguardando Recurso</div>
							{% elif convenio.situacao == 'recurso-em-conta' %}
								<div class="conv">5º - Recurso em Conta, Em execução</div>
							{% elif convenio.situacao == 'convenio-concluido' %}
								<div class="conv">6º - Concluído, Aguardando Prestação de Contas</div>
							{% elif convenio.situacao == 'prestacao-de-contas-concluida' %}
								<div class="conv">7º - Prestação de Contas Concluída</div>
							{% endif %}
							<div class="conv conv-{{ convenio.situacao }}"></div>
						
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<table class="table table-bordered tableless">
			<thead>
				<tr>
					<th width="1%"><i class="fas fa-asterisk"></i></th>
					<th>
						<span style="display: flex;">
						Prefeitura
						<ul class="navbar-nav mr-auto d-inline-block float-right ml-2">
							<li class="nav-item dropdown">
								<a class="nav-link link-agiliza dropdown-toggle p-0" href="javascript: void(0)" role="button" data-toggle="dropdown" aria-expanded="false"> <i class="fas fa-filter"></i> </a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li>
										<a class="dropdown-item {% if not filter_prefeitura %}disabled{% endif %}" href="{% url 'convenios' %}">
											Todas
											{% if not filter_prefeitura %}
												<i class="fas fa-check"></i>
											{% endif %}
										</a>
									</li>
								{% for prefeitura in choices_prefeitura %}
									<li>
										<a class="dropdown-item {% if prefeitura.id == filter_prefeitura %}disabled{% endif %}" href="{% url 'convenios' %}{% relative_url prefeitura.id 'prefeitura' %}">
											{{ prefeitura.nome }}
											{% if prefeitura.id == filter_prefeitura %}
											{% endif %}
										</a>
									</li>
								{% endfor %}
								</ul>
							</li>
						</ul>
						</span>
					</th>
					<th>Objeto</th>
					<th>Convênio</th>
					<th>Vencimento</th>
					<th>Situação</th>
					<th width="1%">
						{% if order == 'asc' %}
						<a href="{% url 'convenios' %}?order_by=proposta__valor_convenio,desc">
							R$ Valor 
								<i class="fas fa-chevron-up"></i>
						</a>
						{% elif order == 'desc' %}
						<a href="{% url 'convenios' %}?order_by=proposta__valor_convenio,asc">
							R$ Valor 
								<i class="fas fa-chevron-down"></i>
						</a>
						{% endif %}
					</th>
				</tr>
			</thead>
			<tbody>
				{% for convenio in convenios %}
				<tr>
					<td class="text-center">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item dropdown text-center">
								<a href="javascript: void(0)" class="nav-link link-agiliza dropdown-toggle p-0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-bars"></i> </a>
								<ul class="dropdown-menu">
									<li>
										<a href="{% url 'protocolo' convenio.id %}" class="dropdown-item"> Histórico </a>
									</li>
									{% if perms.base.add_convenio %}
										<li>
											<a href="{% url 'convenio_projeto_controle' convenio.id %}" class="dropdown-item"> Elaboração de Projeto </a>
										</li>
										{% if convenio.situacao == 'aguardando-aprovacao' %}
										<li><a href="javascript: void(0)" class="dropdown-item" data-toggle="modal" data-target="#aprovarProjetoModal" data-id="{{ convenio.id }}" onclick="aprovar_projeto_convenio(this)">Aprovar projeto</a></li>
										{% endif %}
										{% if convenio.situacao == 'projeto-aprovado' %}
										<li><a href="javascript: void(0)" class="dropdown-item" data-toggle="modal" data-target="#licitarProjetoModal" data-id="{{ convenio.id }}" onclick="licitar_projeto_convenio(this)">Enviar Licitação</a></li>
										{% endif %}
										{% if convenio.situacao == 'aguardando-aceite-licitacao' %}
										<li><a href="javascript: void(0)" class="dropdown-item" data-toggle="modal" data-target="#aprovarLicitacaoModal" data-id="{{ convenio.id }}" onclick="aprovar_licitacao_convenio(this)">Aprovar licitação</a></li>
										{% endif %}
										{% if convenio.situacao == 'licitacao-aprovada' %}
										<li><a href="javascript: void(0)" class="dropdown-item" data-toggle="modal" data-target="#recursoContaModal" data-id="{{ convenio.id }}" onclick="recurso_em_conta_convenio(this)">Recurso em conta</a></li>
										{% endif %}
										{% if convenio.situacao == 'recurso-em-conta' %}
										<li><a href="javascript: void(0)" class="dropdown-item" data-toggle="modal" data-target="#concluirConvenioModal" data-id="{{ convenio.id }}" onclick="concluir_convenio(this)">Concluir convênio</a></li>
										{% endif %}
										{% if convenio.situacao == 'convenio-concluido' %}
										<li><a href="javascript: void(0)" class="dropdown-item" data-toggle="modal" data-target="#concluirPrestacaoContasModal" data-id="{{ convenio.id }}" onclick="concluir_prestacao_contas(this)">Concluir prestação de contas</a></li>
										{% endif %}
									{% endif %}
									{% if perms.auth.is_super %}
									<li>
										<a href="javascript: void(0)" class="dropdown-item" data-href="{% url 'convenio_excluir' convenio.id %}" onclick="excluir_convenio(this)"> Excluir</a>
									</li>
									{% endif %}
								</ul>
							</li>
						</ul>
					</td>
					<td>{{ convenio.proposta.prefeitura }}</td>
					<td>{{ convenio.proposta.objeto }}</td>
					<td>{{ convenio.numero }}</td>
					<td>
						{% if convenio.situacao == 'aguardando-aprovacao' %}
							{{ convenio.data_suspensiva|date:"d/m/Y" }}
						{% else %}
							{{ convenio.data_vigencia|date:"d/m/Y" }}
						{% endif %}
					</td>
					<!-- <td><a href="{% url 'proposta' convenio.proposta.id %}">{{ convenio.proposta.numero }}</a></td> -->
					<td>{{ convenio.get_situacao_display }}</td>
					<td class="text-right">{% load l10n %}{{ convenio.proposta.valor_convenio|floatformat:2|localize }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if convenios %}
		 
		<div class="paginacao">
			<nav aria-label="Page navigation align-items-end">
				<div class="pagination">
					<span class="step-links">
						{% if convenios.has_previous %}
							<a href="?{% if filter_prefeitura %}prefeitura={{ filter_prefeitura }}&{% endif %}page=1">
								<span aria-hidden="true"><i class="fas fa-angle-double-left pgdouble"></i></span>
							</a>
							<a href="?{% if filter_prefeitura %}prefeitura={{ filter_prefeitura }}&{% endif %}page={{ convenios.previous_page_number }}">
								<span aria-hidden="true"><i class="fas fa-angle-left pgsimple"></i></span>
							</a>
						{% endif %}

						<span class="current">
							Página {{ convenios.number }} de {{ convenios.paginator.num_pages }}.
						</span>

						{% if convenios.has_next %}
							<a href="?{% if filter_prefeitura %}prefeitura={{ filter_prefeitura }}&{% endif %}page={{ convenios.next_page_number }}">
								<span aria-hidden="true"><i class="fas fa-angle-right pgsimple"></i></span>
							</a>
							<a href="?{% if filter_prefeitura %}prefeitura={{ filter_prefeitura }}&{% endif %}page={{ convenios.paginator.num_pages }}">
								<span aria-hidden="true"><i class="fas fa-angle-double-right pgdouble"></i></span>
							</a>
						{% endif %}
					</span>
				</div>
			</nav>
		</div>
		{% else %}
		<div class="alert alert-info mb-0">Nenhum convenio cadastrado!</div>
		{% endif %}
	</div>

	<!-- Modal Cadastrar Projeto -->
	<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form method="post" id="formConvenioProjeto" autocomplete="off">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Cadastrar Projeto</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<select name="orgao" class="form-control custom-select custom-select-sm">
									<option value=""> Selecione Orgão </option>
									{% for orgao in orgaos %}
									<option value="{{orgao.id}}"> {{orgao.descricao}} </option>>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label>Tipo de projeto</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="estradas" class="form-check-input" id="idEstradas" />
									<label for="idEstradas" class="form-check-label"> Estradas </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="equipamento" class="form-check-input" id="idEquipamentos" />
									<label for="idEquipamentos" class="form-check-label"> Equipamentos </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="praca" class="form-check-input" id="idPraca" />
									<label for="idPraca" class="form-check-label"> Praça </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="centro_esportivo" class="form-check-input" id="idCentroEsportivo" />
									<label for="idCentroEsportivo" class="form-check-label"> Centro Esportivo </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="pavimentacao" class="form-check-input" id="idPavimentacao" />
									<label for="idPavimentacao" class="form-check-label"> Pavimentação </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="edificacao" class="form-check-input" id="idEdificacao" />
									<label for="idEdificacao" class="form-check-label"> Edificação </label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary btn-sm"> <i class="fas fa-check-circle"></i> Salvar </button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<!-- Modal Aprovação de Convênio -->
	<div class="modal fade" id="aprovarProjetoModal" tabindex="-1" aria-labelledby="aprovarProjetoModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form method="post" id="formAprovarProjeto" autocomplete="off">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="aprovarProjetoModalLabel">Aprovação de projeto</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-4 form-group">
							    <label>Data aprovação</label>
							    <input type="text" name="data_aprovacao_projeto" class="form-control form-control-sm date">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary btn-sm"> Salvar <i class="fas fa-paper-plane"></i> </button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<!-- Modal Licitação de Projeto -->
	<div class="modal fade" id="licitarProjetoModal" tabindex="-1" aria-labelledby="licitarProjetoModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form method="post" id="formLicitarProjeto" autocomplete="off">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="licitarProjetoModalLabel">Envio da Licitação</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-4 form-group">
							    <label>Data licitação</label>
							    <input type="text" name="data_licitacao_projeto" class="form-control form-control-sm date">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary btn-sm"> Salvar <i class="fas fa-paper-plane"></i> </button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<!-- Modal Analisar Licitação -->
	<div class="modal fade" id="analisarLicitacaoModal" tabindex="-1" aria-labelledby="analisarLicitacaoModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form method="post" id="formAnalisarLicitacao" autocomplete="off">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="analisarLicitacaoModalLabel">Analisar Licitação</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-4 form-group">
							    <label>Data análise licitação</label>
							    <input type="text" name="data_analise_licitacao" class="form-control form-control-sm date">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary btn-sm"> Salvar <i class="fas fa-paper-plane"></i> </button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<!-- Modal Aprovar Licitação -->
	<div class="modal fade" id="aprovarLicitacaoModal" tabindex="-1" aria-labelledby="aprovarLicitacaoModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form method="post" id="formAprovarLicitacao" autocomplete="off">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="aprovarLicitacaoModalLabel">Aprovar Licitação</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-4 form-group">
							    <label>Data aceite licitação</label>
							    <input type="text" name="data_aceite_licitacao" class="form-control form-control-sm date">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group">
								<label>CNPJ empresa contratada</label>
							    <input type="text" name="cnpj_empresa_contratada" class="form-control form-control-sm">
							</div>
						</div>
						<div class="row">
							<div class="col-md-9 form-group">
								<label>Empresa contratada</label>
							    <input type="text" name="nome_empresa_contratada" class="form-control form-control-sm">
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 form-group">
								<label>Número contrato</label>
							    <input type="text" name="numero_contrato" class="form-control form-control-sm">
							</div>
							<div class="col-md-4 form-group">
								<label>Data contrato</label>
							    <input type="text" name="data_contrato" class="form-control form-control-sm date">
							</div>
							<div class="col-md-4 form-group">
								<label>Vigência contrato</label>
							    <input type="text" name="vigencia_contrato" class="form-control form-control-sm date">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-group">
								<label>Valor contrato</label>
							    <input type="text" name="valor_contrato" class="form-control form-control-sm money">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary btn-sm"> Salvar <i class="fas fa-paper-plane"></i> </button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<!-- Modal Recurso em Conta -->
	<div class="modal fade" id="recursoContaModal" tabindex="-1" aria-labelledby="recursoContaModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form method="post" id="formRecursoConta" autocomplete="off">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="recursoContaModalLabel">Recurso em conta</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-4 form-group">
							    <label>Data liberação</label>
							    <input type="text" name="data_liberacao_recurso" class="form-control form-control-sm date">
							</div>
							<div class="col-md-5 form-group">
							    <label>Valor</label>
							    <input type="text" name="valor_recurso" class="form-control form-control-sm money">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary btn-sm"> Salvar <i class="fas fa-paper-plane"></i> </button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<!-- Modal Concluir Convenio -->
	<div class="modal fade" id="concluirConvenioModal" tabindex="-1" aria-labelledby="concluirConvenioModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form method="post" id="formConcluirConvenio" autocomplete="off">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="concluirConvenioModalLabel">Concluir Convênio</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-4 form-group">
							    <label>Data conclusão</label>
							    <input type="text" name="data_conclusao" class="form-control form-control-sm date">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary btn-sm"> Salvar <i class="fas fa-paper-plane"></i> </button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<!-- Modal Concluir Prestação de Contas -->
	<div class="modal fade" id="concluirPrestacaoContasModal" tabindex="-1" aria-labelledby="concluirPrestacaoContasModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form method="post" id="formConcluirPrestacaoContas" autocomplete="off">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="concluirPrestacaoContasModalLabel">Concluir Prestação de Contas</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-4 form-group">
							    <label>Data prestação</label>
							    <input type="text" name="data_prestacao_contas" class="form-control form-control-sm date">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary btn-sm"> Salvar <i class="fas fa-paper-plane"></i> </button>
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
