{% extends 'base/base.html' %}

{% block title %}Convênios{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-5 offset-md-7 mb-2">
			<form action="{% url 'convenios' %}" method="post"> 
				{% csrf_token %}
				<div class="input-group input-group-sm">
					<input name="search" type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar">
					<div class="input-group-append">
						<button class="btn btn-outline-agiliza" type="submit"><i class="fas fa-search"></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% if convenios %}
			<table class="table table-bordered">
				<thead>
					<tr>
						{% if perms.base.add_convenio %}
						<th width="1%">Ações</th>
						{% endif %}
						<th>Número Convênio</th>
						<th>Proposta</th>
						{% if perms.base.add_convenio %}
						<th>Projeto</th>
						{% endif %}
						<th>Data</th>
					</tr>
				</thead>
				<tbody>
					{% for convenio in convenios %}
					<tr>
						{% if perms.base.add_convenio %}
						<td class="text-center">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item dropdown text-center">
									<a href="javascript: void(0)" class="nav-link link-agiliza dropdown-toggle p-0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-bars"></i> </a>
									<ul class="dropdown-menu">
										<li>
											<a href="{% url 'protocolo' %}" class="dropdown-item"> <i class="fas fa-plus-circle"></i> Protocolo </a>
										</li>
									</ul>
								</li>
							</ul>
						</td>
						{% endif %}
						<td>{{ convenio.numero_convenio }}</td>
						<td>{{ convenio.proposta }}</td>
						{% if perms.base.add_convenio %}
						<td></td>
						{% endif %}
						<td>{{ convenio.proposta.data }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div class="alert alert-info mb-0">Nenhum convenio cadastrado!</div>
			{% endif %}
		</div>
	</div>

	<!-- Modal Cadastrar Projeto -->
	<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form method="post" id="formConvenioProjeto">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="staticBackdropLabel">Cadastrar Projeto</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<select name="orgao" class="form-control custom-select custom-select-sm">
									<option value=""> Selecione Orgão </option>
									{% for orgao in orgaos %}
									<option value="{{orgao.id}}"> {{orgao.descricao}} </option>>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label>Tipo de projeto</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="estradas" class="form-check-input" id="idEstradas" />
									<label for="idEstradas" class="form-check-label"> Estradas </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="equipamento" class="form-check-input" id="idEquipamentos" />
									<label for="idEquipamentos" class="form-check-label"> Equipamentos </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="praca" class="form-check-input" id="idPraca" />
									<label for="idPraca" class="form-check-label"> Praça </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="centro_esportivo" class="form-check-input" id="idCentroEsportivo" />
									<label for="idCentroEsportivo" class="form-check-label"> Centro Esportivo </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="pavimentacao" class="form-check-input" id="idPavimentacao" />
									<label for="idPavimentacao" class="form-check-label"> Pavimentação </label>
								</div>
								<div class="form-check"> 
									<input type="radio" name="tipo_projeto" value="edificacao" class="form-check-input" id="idEdificacao" />
									<label for="idEdificacao" class="form-check-label"> Edificação </label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary btn-sm"> <i class="fas fa-check-circle"></i> Salvar </button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<script>
		let seleciona_convenio = () => {}

		let form_convenio_projeto = document.getElementById('formConvenioProjeto')
		
		seleciona_convenio = (elemento) => 
			form_convenio_projeto.action=`/projeto/${elemento.dataset.id}`;
	</script>
{% endblock %}
