{% extends 'base/base.html' %}

{% block body %}
	<!--<img src="/media/{# proposta.prefeitura.timbre #}" alt="Declaração" width="595" height="842" />-->
	<div></div>
	<div class="row" style="background: no-repeat url('/media/{{ proposta.prefeitura.timbre }}'); background-size: 1110px 1571px; height: 1571px;">
		<div class="col-md-12" style="padding: 184px;">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="titulo" style="margin-top: 150px;">DECLARAÇÃO DE MANUTENÇÃO E OPERAÇÃO</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="texto" style="margin-top: 50px;">Declaro, para os devidos fins, junto ao MINISTÉRIO DA AGRICULTURA, PECUARIA E ABASTECIMENTO, que a PREFEITURA MUNICIPAL DE {{ proposta.prefeitura.prefeito.numero }}, está de acordo com a solução adotada quanto a Execução do Projeto de {{ convenio.obejeto }} e que garante a manutenção, operação e funcionamento pleno do empreendimento, referente ao projeto cadastrado no portal de Convênios – Siconv n° {{ convenio.numero }}.
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="data_proposta text-right" style="margin-top: 100px;">{{ proposta.prefeitura.nome }} - {{ proposta.prefeitura.uf }}, {{ proposta.data }}.</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="text-center">
						<div class="font-weight-bold">{{ proposta.prefeitura.prefeito.nome }}</div>
					</div>
					<div class="text-center">
						<div class="font-weight-bold">PREFEITO(A) MUNICIPAL</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
