{% extends 'base/base.html' %}

{% block body %}
	<!--<img src="/media/{# proposta.prefeitura.timbre #}" alt="Declaração" width="595" height="842" />-->
	<div></div>
	<div class="row" style="height: 1571px;">
		<div class="col-md-12" style="padding: 184px;">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="titulo" style="margin-top: 150px;">DECLARAÇÃO DE CUMPRIMENTO DA LEI Nº 6.454/1977</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="texto" style="margin-top: 50px;">Declaro o CUMPRIMENTO DA LEI N 6.454/1977, em atendimento ao disposto no art. 22, XXIII da PI 424/16 e suas atualizações, que este ente/entidade não incorre, por qualquer dos seus órgãos, nas vedações acerca de denominação de logradouros, obras serviços e monumentos públicos os quais a Lei nº. 6.454/77 dispõe.</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="data_proposta text-right" style="margin-top: 100px;">________________________, ____ de _______________de 2021.</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="text-center">
						<div class="font-weight-bold">_____________________________________________________</div>
					</div>
					<div class="text-center">
						<div class="font-weight-bold">Prefeito</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="text-center">
						<div class="font-weight-bold">(COM IDENTIFICAÇÃO – nome e CPF)</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
