{% extends 'base/base.html' %}

{% load static %}

{% block title %} Bem Vindo!!! {% endblock %}

{% block body %}
	{% if not perms.base.add_proposta %}
	<p class="text-center" style="font-size: 18px;">Este aplicativo foi desenvolvido pela <b>Agiliza Convênio</b>, para o gerenciamento de propostas e convênios gerados pelo sistema</p>
	{% else %}
	<main>
		<div class="row">
			<div class="col-md-3">
				<div class="card shadow-sm bg-body rounded">
					<div class="card-body">
						<span style="text-transform: uppercase; font-size: 12px;">Prefeituras</span>
						<div class="text-left">
							<h5 class="font-weight-bold">{{ data.total_prefeitura }}</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card shadow-sm bg-body rounded">
					<div class="card-body">
						<span style="text-transform: uppercase; font-size: 12px;">Propostas</span>
						<div class="text-left">
							<h5 class="font-weight-bold">{{ data.total_proposta }}</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card shadow-sm bg-body rounded">
					<div class="card-body">
						<span style="text-transform: uppercase; font-size: 12px;">Convênios</span>
						<div class="text-left">
							<h5 class="font-weight-bold">{{ data.total_convenio }}</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card shadow-sm bg-body rounded">
					<div class="card-body">
						<span style="text-transform: uppercase; font-size: 12px;">Serviços</span>
						<div class="text-left">
							<h5 class="font-weight-bold">{{ data.total_servico }}</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-6">
				<div class="card shadow-sm bg-body rounded">
					<div class="card-body">
						<div class="mb-2" style="text-transform: uppercase; font-size: 12px;">Propostas</div>
						<table class="table">
							<thead>
								<tr>
									<th>Situação</th>
									<th>#</th>
									<th class="text-right">R$</th>
								</tr>
							</thead>
							<tbody>
								{% for choice, situacao in data.situacoes.items %}
								<tr>
									<td>{{ situacao.situacao }}</td>
									<td>{{ situacao.situacao__count }}</td>
									<td class="text-right">{% load l10n %}{{ situacao.valor_convenio__sum|floatformat:2|localize }}</td>
								</tr>
								{% endfor %}
								<!--
								<tr>
									<td>Aprovada</td>
									<td>8</td>
									<td class="text-right">500.000,00</td>
								</tr>
								<tr>
									<td>Empenhada</td>
									<td>23</td>
									<td class="text-right">1.000.000,00</td>
								</tr>
								<tr>
									<td>Reprovada</td>
									<td>3</td>
									<td class="text-right">50.000,00</td>
								</tr>
								-->
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-6">
		  		<div class="card card-fill shadow-sm bg-body rounded">
		  			<div class="card-body">
		  				Gráfico
		  			</div>
		  		</div>
			</div>
		</div>
		{% endif %}
	</main>
{% endblock %}