{% extends 'base/base.html' %}

{% block title %} Bem Vindo {% endblock %}

{% block body %}
	{% if not perms.base.add_proposta %}
	<p class="text-center" style="font-size: 18px;">Este aplicativo foi desenvolvido pela <b>Agiliza Convênio</b>, para o gerenciamento de propostas e convênios gerados pelo sistema</p>
	{% else %}
	<main>
		<div class="row">
			<div class="col-md-3">
				<div class="card shadow-sm bg-body rounded">
					<div class="card-body">
						<span style="text-transform: uppercase; font-size: 12px;">Prefeituras</span>
						<div class="text-left"> 
							<h5 class="font-weight-bold">4</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card shadow-sm bg-body rounded">
					<div class="card-body">
						<span style="text-transform: uppercase; font-size: 12px;">Propostas</span>
						<div class="text-left"> 
							<h5 class="font-weight-bold">47</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card shadow-sm bg-body rounded">
					<div class="card-body">
						<span style="text-transform: uppercase; font-size: 12px;">Aprovados</span>
						<div class="text-left"> 
							<h5 class="font-weight-bold">8</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card shadow-sm bg-body rounded">
					<div class="card-body">
						<span style="text-transform: uppercase; font-size: 12px;">Convênios</span>
						<div class="text-left"> 
							<h5 class="font-weight-bold">23</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-6">
				<div class="card shadow-sm bg-body rounded">
					<div class="card-body">
						<div class="mb-2" style="text-transform: uppercase; font-size: 12px;">Propostas</div> 
						<table class="table">
							<thead> 
								<tr>
									<th>Situação</th>
									<th>#</th>
									<th class="text-right">R$</th>
								</tr>
							</thead>
							<tbody> 
								<tr>
									<td>Em análise</td>
									<td>3</td>
									<td class="text-right">100.000,00</td>
								</tr>
								<tr>
									<td>Aprovada</td>
									<td>8</td>
									<td class="text-right">500.000,00</td>
								</tr>
								<tr>
									<td>Empenhada</td>
									<td>23</td>
									<td class="text-right">1.000.000,00</td>
								</tr>
								<tr>
									<td>Reprovada</td>
									<td>3</td>
									<td class="text-right">50.000,00</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-6">
		  		<div class="card card-fill shadow-sm bg-body rounded">
		  			<div class="card-body"> 
		  				Gráfico
		  			</div>
		  		</div>
			</div>
		</div>
		{% endif %}
	</main>
{% endblock %}