{% extends 'base/base.html' %}

{% block title %}Item{% endblock %}
{% block body %}

	<form method="post" class="form" autocomplete="off"> 
		{% csrf_token %}
		<div class="row">
			<div class="col-md-12">
				<label>Item</label>
				{{ item_alternativa_form.item }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label>Alternativas</label>
				{{ item_alternativa_form.alternativa }}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12 text-right"> 
				<button class="btn btn-sm btn-primary px-3 py-1">Salvar <i class="fas fa-paper-plane"></i></button>
			</div>
		</div>
	</form>
{% endblock %}
