{% extends 'base/base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Item{% endblock %}

{% block body %}

	{% block breadcrumbs %}
		{% breadcrumb_safe "<i class='fas fa-home'></i>" "home" %}
		{% breadcrumb " Projetos " "projetos" %}
		{% breadcrumb projeto.get_tipo_display "projeto_itens" projeto.id %}
		{% breadcrumb " Item " "item" %}
		{% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
	{% endblock %}

	<form method="post" class="form" autocomplete="off"> 
		{% csrf_token %}
		<div class="row">
			<div class="col-md-12 form-group">
				<label>Descricao</label>
				{{ item_form.descricao }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 form-group">
				<label>Subitem de</label>
				{{ item_form.subitem }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 form-group">
				<label>Observações</label>
				{{ item_form.observacoes }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 form-group">
				<label>Opção</label>
				{{ item_form.opcao }}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12 text-right"> 
				<button class="btn btn-sm btn-primary px-3 py-1">Salvar <i class="fas fa-paper-plane"></i></button>
			</div>
		</div>
	</form>
{% endblock %}
