{% extends 'base/base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}SEMAR{% endblock %}
{% block body %}

	{% block breadcrumbs %}
		{% breadcrumb_safe "<i class='fas fa-home'></i>" "/" %}
		{% breadcrumb " Convênios " "convenios" %}
		{% breadcrumb " Histórico " "protocolo" convenio.id %}
		{% breadcrumb " SEMAR " "licenciamentos_ambientais" convenio.id %}
		{% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
	{% endblock %}

	<form method="post" enctype="multipart/form-data" class="form"> 
		{% csrf_token %}
		<div class="row">
			<div class="col-md-6"> 
				<div class="row">
					<div class="col-md-3 form-group">
						<label>Data Prevista</label>
						{{ licenciamento_form.data_prevista }}
					</div>
					<div class="col-md-3 form-group">
						<label>Data Protocolado</label>
						{{ licenciamento_form.data_protocolado }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label>Responsável</label>
						{{ licenciamento_form.responsavel }}
					</div>
				</div>
			</div>
			<div class="col-md-6"> 
				<div class="row">
					<div class="col-md-12 form-group">
						<label>Situação</label>
						{{ licenciamento_form.situacao }}
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label>Anexo</label>
						{{ licenciamento_form.anexo }}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 form-group">
				<label>Considerações</label>
				{{ licenciamento_form.consideracoes }}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12 text-right"> 
				<button class="btn btn-sm btn-primary px-3 py-1">Salvar</button>
			</div>
		</div>
	</form>
{% endblock %}
