{% extends 'base/base.html' %}

{% block title %}Opção{% endblock %}
{% block body %}

	<form method="post" class="form"> 
		{% csrf_token %}
		<div class="row">
			<div class="col-md-12">
				<label>Descrição</label>
				{{ opcao_form.descricao }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label>Alternativa</label>
				{{ opcao_form.alternativa }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label>Texto</label>
				{{ opcao_form.texto }}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12 text-right"> 
				<button class="btn btn-sm btn-primary px-3 py-1">Salvar</button>
			</div>
		</div>
	</form>
{% endblock %}
