{% extends 'base/base.html' %}

{% block title %}Opções{% endblock %}
{% block action %}
	<div class="row">
		<div class="col-md-12 text-right mb-2">
			<a href="{% url 'opcao' %}" class="btn btn-sm btn-agiliza"> <i class="fas fa-plus-circle"></i> Novo </a>
		</div>
	</div>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-12">
			{% if opcoes %}
			<table class="table table-bordered">
				<thead>
					<tr>
						<th width="1%">Ações</th>
						<th>Descrição</th>
						<th>Alternativa</th>
						<th>Texto</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for opcao in opcoes %}
					<tr>
						<td>
							<ul class="navbar-nav mr-auto">
								<li class="nav-item dropdown text-center">
									<a href="javascript: void(0)" class="nav-link link-agiliza dropdown-toggle p-0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-bars"></i> </a>
									<div class="dropdown-menu">
										<a href="{% url 'opcao' opcao.id %}" class="dropdown-item"> <i class="fas fa-edit"></i> Editar</a>
										<div class="dropdown-divider"></div>
										<a href="{% url 'opcao' opcao.id %}" class="dropdown-item"> <i class="fas fa-eye"></i> Visualizar</a>
									</div>
								</li>
							</ul>
						</td>
						<td>{{ opcao.descricao }}</td>
						<td>{{ opcao.alternativa }}</td>
						<td>{{ opcao.texto }}</td>
						<td> - </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div class="alert alert-info mb-0">Nenhum opção cadastrada!</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
