{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Agiliza - Página inicial</title>
		<!-- CSS -->
		<link rel="stylesheet" href="{% static 'css/main.css' %}">

		<style>
		    @page {
		        background-image: url('/media/{{ proposta.prefeitura.timbre }}');
				size: a4 portrait;
				padding: 1cm;
				margin-top: 4cm;
		    }
		</style>
	</head>
	<body>
		
		<div class="container-fluid"> 
			<div class="row">
				<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4" role="main">
					{% block body %}
					{% endblock %}
				</main>
			</div>
		</div>

	</body>
</html>