{% extends 'base/base.html' %}

{% block title %}Projeto{% endblock %}
{% block body %}

	<form method="post" class="form"> 
		{% csrf_token %}
		<div class="row">
			<div class="col-md-12">
				<label>Orgão</label>
				{{ projeto_form.orgao }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label>Convênio</label>
				{{ projeto_form.convenio }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label>Tipo</label>
				{{ projeto_form.tipo }}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12 text-right"> 
				<button class="btn btn-primary">Salvar</button>
			</div>
		</div>
	</form>
{% endblock %}
