{% extends 'base/base.html' %}

{% block title %}Projeto{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-12">
			<h1>{{ projeto.descricao }}</h1>
		</div>
	</div>
	{% for item in projeto.item_set.all %}
	<div class="row">
		<div class="col-md-12">
			{{ item.numero }} <label>{{ item.descricao }}</label>

			{% for subitem in item.item_set.all %}
			<div class="row">
				<div class="col-md-12">
					{{ subitem.numero }} <label>{{ subitem.descricao }}</label>
					{% for resposta_item in subitem.respostaitem_set.all %}
						<input type="{{ resposta_item.resposta.tipo }}" name="subitem[{{ subitem.id }}]" class="form-control" />
						{% if resposta_item.resposta.tipo == 'text' %}
						{% endif %}
					{% endfor %} 
				</div>
			</div>	
			{% endfor %}
		</div>
	</div>
	{% endfor %}
{% endblock %}
