{% extends 'base/base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Projeto{% endblock %}

{% block body %}

	{% block breadcrumbs %}
		{% breadcrumb_safe "<i class='fas fa-home'></i>" "home" %}
		{% breadcrumb " Projetos " "projetos" %}
		{% breadcrumb " Projeto " "projeto" %}
		{% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
	{% endblock %}

	<form method="post" class="form"> 
		{% csrf_token %}
		<div class="row">
			<div class="col-md-12 form-group">
				<label>Tipo</label>
				{{ projeto_form.tipo }}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12 text-right"> 
				<button class="btn btn-sm btn-primary px-3 py-1">Salvar</button>
			</div>
		</div>
	</form>
{% endblock %}
