{% extends 'base/base.html' %}

{% block title %}Projeto{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-12">
			<h1>Check List Projetos de Engenharia - Pavimentação - Setor Público</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<strong>1 - Identificação</strong>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<label>SR</label>
			<input type="text" name="sr" class="form-control">
		</div>
		<div class="col-md-4">
			<label>Nº do Contrato</label>
			<input type="text" name="numero_contrato" class="form-control">
		</div>
		<div class="col-md-3">
			<label>Data de assinatura</label>
			<input type="text" name="data_assinatura" class="form-control">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label>Programa</label>
			<input type="text" name="programa" class="form-control">
		</div>
		<div class="col-md-6">
			<label>Ação/Modalidade</label>
			<input type="text" name="acao_modalidade" class="form-control">
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<label>Proponente</label>
			<input type="text" name="proponente" class="form-control">
		</div>
		<div class="col-md-5">
			<label>Tipo de Proponente</label>
			<input type="text" name="tipo_proponente" class="form-control">
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<label>Empreendimento</label>
			<input type="text" name="empreendimento" class="form-control">
		</div>
		<div class="col-md-5">
			<label>Localização</label>
			<input type="text" name="localizacao" class="form-control">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<strong>2 - Objetivo</strong>
			<div>Descrever sucintamente o objetivo do pleito</div>
			<input type="text" name="objetivo" class="form-control">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<strong>3 - Documentação fornecida para a análise técnica do empreendimento</strong>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.1 - Cópia do Plano de Trabalho.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.2 - Quadro de composição do investimento (QCI).</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.3 - Planta georreferenciada, contendo a localização das vias em relação ao centro urbano e aos equipamentos existentes no seu entorno.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.4 - Projeto geométrico - planta baixa com estaqueamento.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.5 - Projeto geométrico - perfil longitudinal.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.6 - Projeto de terraplenagem - notas de serviço.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.7 - Projeto de terraplenagem - relatório de volumes.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.8 - Projeto de terraplenagem - seções transversais.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.9 - Projeto de pavimentação - seção tipo.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.10 - Projeto de drenagem.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.11 - Projeto de sinalização viária.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.12 - Projeto de calçadas e acessibilidade.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.13 - Memorial descritivo do projeto.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.14 - Especificações técnicas.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.15 - Orçamentos detalhados.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.16 - Composições de custos unitários.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.17 - Detalhamento do BDI (acórdão TCU 2622/2013).</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.18 - Cronograma Físico-Financeiro do empreendimento.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.19 - Memória de cálculo e/ou dimensionamento.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.20 - Declaração de bem de uso comum do povo.</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.21 - Anotação de Responsabilidade Técnica - ART:</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">a) ART de Projeto</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">b) ART de Orçamento</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">c) ART de Acessibilidade</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.22 - Declarações dos órgãos competentes:</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">a) Declaração de manutenção e/ou conservação, guarda e operação dos serviços/equipamentos</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">b) Declaração de existência de rede de abastecimento d'água </div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">c) Declaração de existência de solução de esgotamento sanit. </div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">d) Declaração de Regime de Execução de Obra </div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">3.23 - Manifestação do órgão competente do meio ambiente.</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">a) Equipe de Coordenação de Projeto </div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">b) Contrato de elaboração do projeto de engenharia </div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">c) Declaração do autor do projeto de sinalização, de que este foi elaborado de acordo com os manuais de “Sinalização Vertical de Regulamentação” - Volume I, CONTRAN/DENATRAM, publicado por meio da Resolução N° 180, de 26 de Agosto de 2005, e de “Sinalização Horizontal” - Volume IV, CONTRAM/DENATRAM, publicado por meio da Resolução N 236, de 11 de maio de 2007 ou aprovação do órgão competente, se for o caso. </div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-6 col-form-label">d) Relatório fotográfico </div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">sim</label> 
				</div>
				<div class="col-md-1 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_nao" class="form-check-input" /> <label for="copia_plano_trabalho_nao" class="form-check-label">não</label> 
				</div>
				<div class="col-md-2 form-check">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_dispensado" class="form-check-input" /> <label for="copia_plano_trabalho_dispensado" class="form-check-label">dispensado</label> 
				</div>
				<div class="col-md-2">
					<div class="form-group row"> 
						<label for="copia_plano_trabalho_fl" class="col-sm-3 col-form-label">fl.</label> 
						<div class="col-sm-9"><input type="text" id="copia_plano_trabalho_fl" class="form-control w-100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<strong>4 - Providências a serem adotadas</strong>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<strong>4.1 - Serviço apto para a Análise Técnica de Engenharia do Empreendimento? </strong>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-1 col-form-label"></div>
				<div class="col-md-11 form-check justify-content-start">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">Sim (no caso de faltar algum documento comentar)</label> 
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-1 col-form-label"></div>
				<div class="col-md-11 form-check justify-content-start">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">Não, pelos seguintes motivos</label> 
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<label for="copia_plano_trabalho_sim">Comentários, falta de documentos, falta de condições para análise técnica </label>
			<input type="text" name="comentario" value="" id="copia_plano_trabalho_sim" class="form-control" /> 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<strong>4.2 - Serviço a ser terceirizado? </strong>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-1 col-form-label"></div>
				<div class="col-md-11 form-check justify-content-start">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">Sim, com prazo de execução de</label> 
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-inline">
				<div class="col-md-1 col-form-label"></div>
				<div class="col-md-11 form-check justify-content-start">
					<input type="radio" name="1" value="" id="copia_plano_trabalho_sim" class="form-check-input" /> <label for="copia_plano_trabalho_sim" class="form-check-label">Não</label> 
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<label for="copia_plano_trabalho_sim">Justificativa e comentários </label>
			<input type="text" name="comentario" value="" id="copia_plano_trabalho_sim" class="form-control" /> 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			4.3 - Enquadramento ATTE
		</div>
		<div class="col-md-5">
			<label>Atividade</label>
			<input type="text" name="atividade" class="form-control" />
		</div>
		<div class="col-md-3">
			<label>Produto</label>
			<input type="text" name="produto" class="form-control" />
		</div>
		<div class="col-md-2">
			<label>Linha</label>
			<input type="text" name="linha" class="form-control" />
		</div>
		<div class="col-md-2">
			<label>Fonte</label>
			<input type="text" name="fonte" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<label>Responsável pela verificação</label>
			<input type="text" name="atividade" class="form-control" />
		</div>
		<div class="col-md-3">
			<label>Data</label>
			<input type="text" name="data" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<label>Local/Data</label>
			<input type="text" name="atividade" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-7">
			<label>Responsável técnico</label>
			<input type="text" name="responsavel_tecnico" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<label>Matrícula</label>
			<input type="text" name="responsavel_tecnico" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<label>CPF</label>
			<input type="text" name="responsavel_tecnico" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<label>CREA</label>
			<input type="text" name="responsavel_tecnico" class="form-control" />
		</div>
	</div>
	<hr class="mb-4">
{% endblock %}
