{% extends 'base/base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block title %} Controle {% endblock %}
{% block body %}
	{% block breadcrumbs %}
		{% breadcrumb_safe "<i class='fas fa-home'></i>" "/" %}
		{% breadcrumb " Convênios " "convenios" %}
		{% breadcrumb " Controle " "convenio_projeto_controle" convenio.id %}
		{% breadcrumb " Projeto " "projeto_controle" convenio.id %}
		{% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
	{% endblock %}
	<form method="post" class="form">
		{% csrf_token %}
		<br />
		<div class="row">
			<div class="col-md-12">
				<label for="id_prefeitura">Orgão</label>
				{{ projeto_controle_form.orgao }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label for="id_prefeitura">Projeto</label>
				{{ projeto_controle_form.projeto }}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12 text-right"> 
				<button class="btn btn-primary">Salvar</button>
			</div>
		</div>
		<br>
	</form>
{% endblock %}
