{% extends 'base/base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Propostas{% endblock %}
{% block body %}
	{% block breadcrumbs %}
		{% breadcrumb_safe "<i class='fas fa-home'></i>" "home" %}
		{% breadcrumb " Propostas " "propostas" %}
		{% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
	{% endblock %}
	{% block search %}
	<div class="d-flex justify-content-between mb-2"> 
		<div class="row">
			<div class="col-md-12">
				{% if perms.base.add_proposta %}
					<a href="{% url 'proposta' %}" class="btn btn-sm link-agiliza">Nova <i class="fas fa-plus-circle"></i> </a>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12"> 
				<div class="btn-toolbar mb-2 mb-md-0 ml-1">
					<div class="row">
						<div class="col-md-12 text-right">
							<form action="{% url 'propostas' %}" method="get"> 
								<div class="input-group input-group-sm btn-group-toggle" data-toggle="buttons"> 
							        <input name="search" type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar" /> 
									<div class="input-group-append"> 
								        <button class="btn btn-outline-agiliza" type="submit"><i class="fas fa-search"></i></button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<!-- <th class="p-0" width="1%"> </th> -->
						<th width="1%"><i class="fas fa-asterisk"></i></th>
						<th>Prefeitura</th>
						<th>Número</th>
						<th>Objeto</th>
						<th>Valor</th>
						<th>Data</th>
						<th>
							Situação 
							<ul class="navbar-nav mr-auto d-inline-block float-right">
								<li class="nav-item dropdown">
									<a class="nav-link link-agiliza dropdown-toggle p-0" href="javascript: void(0)" role="button" data-toggle="dropdown" aria-expanded="false"> <i class="fas fa-filter"></i> </a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li>
											<a class="dropdown-item {% if not filter_situacao %}disabled{% endif %}" href="{% url 'propostas' %}">
												Todas
												{% if not filter_situacao %}
													<i class="fas fa-check"></i>
												{% endif %}
											</a>
										</li>
									{% for choice_situacao, situacao in choices_situacao %}
										<li>
											<a class="dropdown-item {% if choice_situacao == filter_situacao %}disabled{% endif %}" href="{% url 'propostas' choice_situacao %}">
												{{ situacao }}
												{% if choice_situacao == filter_situacao %}
													<i class="fas fa-check"></i>
												{% endif %}
											</a>
										</li>
									{% endfor %}
									</ul>
								</li>
					     	</ul>
						</th>
						<th width="1%">Extrato</th>
					</tr>
				</thead>
				<tbody>
					{% for proposta in propostas %}
					<tr>
						<!-- <td class="text-center"><i class="fas fa-caret-right"></i></td> -->
						<td class="text-center">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item dropdown">
									<a href="javascript: void(0)" class="nav-link link-agiliza dropdown-toggle p-0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-bars"></i> </a>
									<div class="dropdown-menu">
										{% if perms.base.edit_proposta %}
											<a href="{% url 'proposta' proposta.id %}" class="dropdown-item"> Editar</a>
											<div class="dropdown-divider"></div>
											{% if proposta.verifica_situacao == 'em-analise' %}
												<a href="javascript:void(0);" class="dropdown-item"> Em análise </a>
											{% endif %}
											{% if proposta.verifica_situacao == 'aprovada' %}
												<a href="{% url 'proposta' proposta.id 'aprovada' %}" class="dropdown-item"> Aprovar</a>
											{% endif %}
											{% if proposta.situacao not in 'empenhada,reprovada' %}
												<a href="{% url 'proposta' proposta.id 'reprovada' %}" class="dropdown-item"> Reprovar</a>
											{% endif %}
											{% if proposta.verifica_situacao == 'empenhada' %}
												<a href="javascript: void(0)" class="dropdown-item" data-toggle="modal" data-target="#empenharPropostaModal" onclick="seleciona_empenhar_proposta(this)" data-id="{{ proposta.id }}"> Empenhar </a>
											{% endif %}
										{% endif %}
										<a href="javascript: void(0)" class="dropdown-item" data-toggle="modal" data-target="#extratoModal" onclick="seleciona_proposta_arquivo_extrato(this)" data-id="{{ proposta.id }}"> Extrato </a>
										<a href="{% url 'proposta_documento' proposta.id %}" class="dropdown-item"> Gerar declaração</a>
									</div>
								</li>
							</ul>
						</td>
						<td>{{ proposta.prefeitura }}</td>
						<td>{{ proposta.numero }}</td>
						<td>{{ proposta.objeto }}</td>
						<td class="text-right">{% load l10n %}{{ proposta.valor_contrapartida|floatformat:2|localize }}</td>
						<td>{{ proposta.data|date:"d/m/Y" }}</td>
						<td>{{ proposta.get_situacao_display }}</td>
						<td class="text-center">{% if proposta.extrato %}<a href="/agiliza/media/{{ proposta.extrato }}" target="_blank"><i class="fas fa-file-alt"></i></a>{% endif %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if not propostas %}
				<div class="alert alert-info mb-0">Nenhuma proposta cadastrada!</div>
			{% endif %}
		</div>
	</div>


	<!-- Modal Empenhar Proposta -->
	<div class="modal fade" id="empenharPropostaModal" tabindex="-1" aria-labelledby="empenharPropostaModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form method="post" id="formEmpenharProposta">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="empenharPropostaModalLabel">Convênio</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12 form-group">
								<label for="">Número convênio</label>
								<input type="text" name="numero" class="form-control form-control-sm" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 form-group">
								<label for="id_prefeitura">Orgão</label>
								<select name="orgao_id" id="orgao" class="custom-select form-control">
									<option>-------</option>
									{% for orgao in orgaos %}
									<option value="{{orgao.id}}">{{ orgao.descricao }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 form-group">
								<label for="id_prefeitura">Projeto</label>
								<select name="projeto_id" id="projeto" class="custom-select form-control">
									<option>-------</option>
									{% for projeto in projetos %}
									<option value="{{projeto.id}}">{{ projeto }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary btn-sm"> <i class="fas fa-check-circle"></i> Empenhar </button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<!-- Modal Extrato Proposta -->
	<div class="modal fade" id="extratoModal" tabindex="-1" aria-labelledby="extratoModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form method="post" id="formExtrato" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="extratoModalLabel">Extrato</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<label for="">Enviar arquivo</label>
								<input type="file" name="extrato" class="form-control" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary btn-sm"> <i class="fas fa-check-circle"></i> Salvar </button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script>
		let form_empenhar_proposta = document.getElementById('formEmpenharProposta')
		let form_extrato = document.getElementById('formExtrato')

		let seleciona_empenhar_proposta = (elemento) => 
			form_empenhar_proposta.action = `/agiliza/proposta/empenhar/${elemento.dataset.id}`
		let seleciona_proposta_arquivo_extrato = (elemento) => 
			form_extrato.action = `/agiliza/proposta/arquivo/extrato/${elemento.dataset.id}`
	</script>
{% endblock %}
