{% extends 'base/base.html' %}

{% block title %}Propostas{% endblock %}
{% block action %}
<div class="row">
	<div class="col-md-12 text-right mb-2">
	{% if perms.base.add_proposta %}
		<a href="{% url 'proposta' %}" class="btn btn-sm btn-agiliza"> <i class="fas fa-plus-circle"></i> Criar proposta </a>
	{% endif %}
	</div>
</div>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-5 offset-md-7 mb-2">
			<form action="{% url 'propostas' %}" method="post"> 
				{% csrf_token %}
				<div class="input-group input-group-sm">
					<input name="search" type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar">
					<div class="input-group-append">
						<button class="btn btn-outline-agiliza" type="submit"><i class="fas fa-search"></i></button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th width="1%">Ações</th>
						<th>Prefeitura</th>
						<th>Número da proposta</th>
						<th>Objeto</th>
						<th>Valor</th>
						<th>Data</th>
						<th>
							Situação 
							<ul class="navbar-nav mr-auto d-inline-block">
								<li class="nav-item dropdown">
									<a class="nav-link link-agiliza dropdown-toggle p-0" href="javascript: void(0)" role="button" data-toggle="dropdown" aria-expanded="false"> <i class="fas fa-filter"></i> </a>
									<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item {% if not filter_situacao %}disabled{% endif %}" href="{% url 'propostas' %}">
												Todas
												{% if not filter_situacao %}
													<i class="fas fa-check"></i>
												{% endif %}
											</a>
										</li>
									{% for situacao in choices_situacao %}
										<li>
											<a class="dropdown-item {% if situacao.0 == filter_situacao %}disabled{% endif %}" href="{% url 'propostas' situacao.0 %}">
												{{situacao.1}}
												{% if situacao.0 == filter_situacao %}
													<i class="fas fa-check"></i>
												{% endif %}
											</a>
										</li>
									{% endfor %}
									</ul>
								</li>
					     	</ul>
						</th>
						<th width="1%">Extrato</th>
					</tr>
				</thead>
				<tbody>
					{% for proposta in propostas %}
					<tr>
						<td class="text-center">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item dropdown">
									<a href="javascript: void(0)" class="nav-link link-agiliza dropdown-toggle p-0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-bars"></i> </a>
									<div class="dropdown-menu">
										{% if perms.base.edit_proposta %}
											<a href="{% url 'proposta' proposta.id %}" class="dropdown-item"> <i class="fas fa-edit"></i> Editar</a>
											<div class="dropdown-divider"></div>
											{% if proposta.verifica_situacao == 'em-analise' %}
												<a href="javascript:void(0);" class="dropdown-item"> <i class="fas fa-check-circle"></i> Em análise </a>
											{% endif %}
											{% if proposta.verifica_situacao == 'aprovada' %}
												<a href="{% url 'proposta' proposta.id 'aprovada' %}" class="dropdown-item"> <i class="fas fa-check-circle"></i> Aprovar</a>
											{% endif %}
											{% if proposta.situacao not in 'empenhada,reprovada' %}
												<a href="{% url 'proposta' proposta.id 'reprovada' %}" class="dropdown-item"> <i class="fas fa-check-circle"></i> Reprovar</a>
											{% endif %}
											{% if proposta.verifica_situacao == 'empenhada' %}
												<a href="{% url 'proposta' proposta.id 'empenhada' %}" class="dropdown-item"> <i class="fas fa-check-circle"></i> Empenhar</a>
											{% endif %}
										{% endif %}
										<a href="javascript: void(0)" class="dropdown-item" data-toggle="modal" data-target="#extratoModal" onclick="seleciona_proposta_arquivo_extrato(this)" data-id="{{ proposta.id }}"> <i class="fas fa-cloud-upload-alt"></i> Extrato </a>
										<a href="{% url 'proposta_documento' proposta.id %}" class="dropdown-item"> <i class="fas fa-certificate"></i> Gerar declaração</a>
									</div>
								</li>
							</ul>
						</td>
						<td>{{ proposta.prefeitura }}</td>
						<td>{{ proposta.numero }}</td>
						<td>{{ proposta.objeto }}</td>
						<td class="text-right">{% load l10n %}{{ proposta.valor_contrapartida|floatformat:2|localize }}</td>
						<td>{{ proposta.data|date:"d/m/Y" }}</td>
						<td>{{ proposta.get_situacao_display }}</td>
						<td class="text-center">{% if proposta.extrato %}<a href="/media/{{ proposta.extrato }}"><i class="fas fa-file-alt"></i></a>{% endif %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if not propostas %}
				<div class="alert alert-info mb-0">Nenhuma proposta cadastrada!</div>
			{% endif %}
		</div>
	</div>



	<!-- Modal Extrato Proposta -->
	<div class="modal fade" id="extratoModal" tabindex="-1" aria-labelledby="extratoModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<form method="post" id="formExtrato" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="extratoModalLabel">Extrato</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				          <span aria-hidden="true">&times;</span>
				        </button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<label for="">Enviar arquivo</label>
								<input type="file" name="extrato" class="form-control" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary btn-sm"> <i class="fas fa-check-circle"></i> Salvar </button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<script>
		let seleciona_proposta_arquivo_extrato = (proposta) => document.getElementById('formExtrato').action=`/proposta/arquivo/extrato/${proposta.dataset.id}`
	</script>
{% endblock %}
