{% extends 'base/base.html' %}

{% load static %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/protocolo.js' %}"></script>
{% endblock %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Histórico{% endblock %}

{% block action %}
<div class="row">
	<div class="col-md-12 text-right mb-2">
	</div>
</div>
{% endblock %}
{% block body %}
	{% block breadcrumbs %}
		{% breadcrumb_safe "<i class='fas fa-home'></i>" "home" %}
		{% breadcrumb " Convênios " "convenios" %}
		{% breadcrumb " Histórico " "procolo" convenio.id %}
		{% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
	{% endblock %}

	<div class="mb-3">
		<div class="row">
			<div class="col-md-12">
				<div class="accordion" id="accordionOne">
					<div class="card">
						<div class="card-header p-0" id="headingOne">
							<h2 class="mb-0">
								<a class="btn btn-block text-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Dados </a>
							</h2>
						</div>

						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
							<div class="card-body">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row mb-0">
											<label for="numero" class="col-sm-3 col-form-label-sm font-weight-bold">Nº Convênio</label>
											<div class="col-sm-8">
												<div class="form-control-sm form-control-plaintext">{{convenio.numero}}</div>
											</div>
										</div>
										<div class="form-group row mb-0">
											<label for="numero_proposta" class="col-sm-3 col-form-label-sm font-weight-bold">Nº Proposta</label>
											<div class="col-sm-8">
												<div class="form-control-sm form-control-plaintext">{{convenio.proposta.numero}}</div>
											</div>
										</div>
										<div class="form-group row mb-0">
											<label class="col-sm-3 col-form-label-sm font-weight-bold">Orgão</label>
											<div class="col-sm-8">
												<div class="form-control-sm form-control-plaintext">{{convenio.orgao}}</div>
											</div>
										</div>
										<div class="form-group row mb-0">
											<label class="col-sm-12 col-form-label-sm font-weight-bold">Objeto</label>
											<div class="col-sm-8">
												<div class="form-control-plaintext">{{convenio.proposta.objeto}}</div>
											</div>
										</div>
										<div class="form-group row mb-0">
											{% if convenio.data_suspensiva %}
											<label class="col-sm-3 col-form-label-sm font-weight-bold">Suspensiva</label>
											<div class="col-sm-3">
												<div class="form-control-sm form-control-plaintext">{{convenio.data_suspensiva|date:"d/m/Y"}}</div>
											</div>
											{% endif %}
											{% if convenio.data_vigencia %}
											<label class="col-sm-3 col-form-label-sm font-weight-bold">Vigência</label>
											<div class="col-sm-3">
												<div class="form-control-sm form-control-plaintext">{{convenio.data_vigencia|date:"d/m/Y"}}</div>
											</div>
											{% endif %}
										</div>
										<div class="form-group row mb-3">
											<label class="col-sm-12 col-form-label-sm font-weight-bold">Técnico do órgão</label>
											<div class="col-sm-12 ml-2">
												<div class="row">
													<div class="col-sm-3">
														<div class="form-control-sm form-control-plaintext">{{convenio.tecnico_orgao.telefone}}</div>
													</div>
													<div class="col-sm-6">
														<div class="form-control-sm form-control-plaintext">{{convenio.tecnico_orgao.nome}}</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-12">
												<div class="accordion mb-3" id="accordionOneOne">
													<div class="card">
														<div class="card-header p-0" id="headingOneOne">
															<h2 class="mb-0">
																<a class="btn btn-block text-left" data-toggle="collapse" data-target="#collapseOneOne" aria-expanded="true" aria-controls="collapseOneOne"> Valores R$ </a>
															</h2>
														</div>

														<div id="collapseOneOne" class="collapse show" aria-labelledby="headingOneOne" data-parent="#accordionOneOne">
															<div class="card-body">
																<div class="form-group row mb-0">
																	<label for="valor_convenio" class="col-sm-4 col-form-label-sm font-weight-bold">Convênio</label>
																	<div class="col-sm-8">
																		<div class="form-control-sm form-control-plaintext text-right">{{convenio.proposta.valor_convenio}}</div>
																	</div>
																</div>
																<div class="form-group row mb-0">
																	<label for="valor_contrapartida" class="col-sm-4 col-form-label-sm font-weight-bold">Contrapartida</label>
																	<div class="col-sm-8">
																		<div class="form-control-sm form-control-plaintext text-right">{{convenio.proposta.valor_contrapartida}}</div>
																	</div>
																</div>
																<div class="form-group row mb-0">
																	<label for="valor_repasse" class="col-sm-4 col-form-label-sm font-weight-bold">Repasse</label>
																	<div class="col-sm-8">
																		<div class="form-control-sm form-control-plaintext text-right">{{convenio.proposta.valor_repasse}}</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-12">
												<div class="accordion" id="accordionOneTwo">
													<div class="card">
														<div class="card-header p-0" id="headingOneTwo">
															<h2 class="mb-0">
																<a class="btn btn-block text-left" data-toggle="collapse" data-target="#collapseOneTwo" aria-expanded="true" aria-controls="collapseOneTwo"> Dados bancários </a>
															</h2>
														</div>

														<div id="collapseOneTwo" class="collapse show" aria-labelledby="headingOneTwo" data-parent="#accordionOneTwo">
															<div class="card-body">
																{% if convenio.banco %}
																<div class="row">
																	<label class="col-sm-3 col-form-label-sm font-weight-bold">Banco</label>
																	<div class="col-sm-7">
																		<div class="form-control-sm form-control-plaintext">
																		{% if convenio.banco %}{{convenio.banco}}{% endif %}
																		</div>
																	</div>
																</div>
																<div class="row">
																	<label class="col-sm-3 col-form-label-sm font-weight-bold">Agência</label>
																	<div class="col-sm-7">
																		<div class="form-control-sm form-control-plaintext">
																		{% if convenio.agencia %}{{convenio.agencia}}{% endif %}
																		</div>
																	</div>
																</div>
																<div class="row">
																	<label class="col-sm-3 col-form-label-sm font-weight-bold">Conta</label>
																	<div class="col-sm-7">
																		<div class="form-control-sm form-control-plaintext">
																		{% if convenio.conta %}{{convenio.conta}}{% endif %}
																		</div>
																	</div>
																</div>
																<a href="{% url 'protocolo_dados_bancarios' convenio.id %}" class="btn btn-block"><i class="fas fa-pen"></i> Editar</a>
																{% else %}
																<a href="{% url 'protocolo_dados_bancarios' convenio.id %}" class="btn btn-block"><i class="fas fa-plus"></i> Adicionar</a>
																{% endif %}
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mb-4" id="accordionTwo">
		<div class="card">
			<div class="card-header p-0" id="headingOne">
				<h2 class="mb-0">
					<a class="btn btn-block text-left" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"> Histórico </a>
				</h2>
			</div>

			<div id="collapseThree" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionTwo">
				<div>
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered m-0 border-0">
								<thead>
									<tr>
										{% if perms.base.add_convenio %}
										<th width="1%" class="p-0 border-left-0">
											<a class="nav-link link-agiliza active mb-1" href="{% url 'protocolos' convenio.id %}"> <i class="fas fa-plus"></i> </a>
										</th>
										{% else %}
										<th width="1%"><i class="fas fa-asterisk"></i></th>
										{% endif %}
										<th width="1%">Data</th>
										<th width="1%" style="white-space: nowrap;">Data prevista</th>
										<th>Responsável</th>
										<th>Considerações</th>
										{# <th>Situação</th> #}
										<th width="1%" class="border-right-0">Anexo</th>
									</tr>
								</thead>
								{% if protocolos %}
								<tbody>
									{% for protocolo in protocolos %}
									<tr>
										<td class="text-center border-left-0">
											<ul class="navbar-nav mr-auto">
												<li class="nav-item dropdown text-center">
													<a href="javascript: void(0)" class="nav-link link-agiliza dropdown-toggle p-0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													{% if protocolo.situacao == 'resolvido' %}
														<i class="fas fa-check"></i>
													{% else %}
														<i class="fas fa-bars"></i>
													{% endif %}
													</a>
													<ul class="dropdown-menu">
														{% if protocolo.situacao != 'resolvido' %}
														<li>
															<a href="{% url 'protocolo_resolver' protocolo.id %}" class="dropdown-item"> Resolver </a>
														</li>
														{% endif %}
														<li>
															<a href="javascript: void(0)" class="dropdown-item" data-href="{% url 'protocolo_excluir' protocolo.id %}" onclick="excluir_protocolo(this)"> Excluir </a>
														</li>
													</ul>
												</li>
											</ul>
										</td>
										<td>{{ protocolo.data_protocolado|date:'d/m/Y' }}</td>
										<td>{{ protocolo.data_prevista|date:'d/m/Y' }}</td>
										<td>{{ protocolo.get_responsavel_display|default:"-" }}</td>
										<td>{{ protocolo.consideracoes }}</td>
										{# <td>{{ protocolo.get_situacao_display }}</td> #}
										<td class="text-center border-right-0">{% if protocolo.anexo %}<a href="/media/{{ protocolo.anexo }}"><i class="fas fa-file-alt"></i></a>{% endif %}</td>
									</tr>
									{% endfor %}
								</tbody>
								{% else %}
								<tfoot>
									<tr>
										<td colspan="7"><div class="alert alert-info mb-0">Nenhum protocolo cadastrado!</div></td>
									</tr>
								</tfoot>
								{% endif %}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
