{% extends 'base/base.html' %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Histórico{% endblock %}

{% block action %}
<div class="row">
	<div class="col-md-12 text-right mb-2">

		<!-- <ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown text-center">
				<a href="javascript: void(0)" class="nav-link link-agiliza dropdown-toggle p-0" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-bars"></i> </a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li>
						<a href="{% url 'atividades' convenio.id %}" class="dropdown-item"> <i class="fas fa-plus-circle"></i> Orgão Concedente</a>
					</li>
					<li> 
						<a href="{% url 'licenciamentos_ambientais' convenio.id %}" class="dropdown-item"> <i class="fas fa-plus-circle"></i> SEMAR </a>
					</li>
				</ul>
			</li>
		</ul> -->
	</div>
</div>
{% endblock %}
{% block body %}
	{% block breadcrumbs %}
		{% breadcrumb_safe "<i class='fas fa-home'></i>" "home" %}
		{% breadcrumb " Convênios " "convenios" %}
		{% breadcrumb " Histórico " "procolo" convenio.id %}
		{% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
	{% endblock %}

	<div class="mb-3">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12 mb-2"> 
						<h8 class="text-uppercase font-weight-bold link-agiliza">Dados</h8>
					</div>
					<div class="col-md-12">
						<div class="card mb-3">
							<div class="card-body">
								<div class="form-group row mb-0"> 
									<label for="numero" class="col-sm-4 col-form-label-sm font-weight-bold">Nº Convênio</label>
									<div class="col-sm-8"> 
										<div class="form-control-sm form-control-plaintext">{{convenio.numero}}</div>
									</div>
								</div>
								<div class="form-group row mb-0"> 
									<label for="numero_proposta" class="col-sm-4 col-form-label-sm font-weight-bold">Nº Proposta</label>
									<div class="col-sm-8"> 
										<div class="form-control-sm form-control-plaintext">{{convenio.proposta.numero}}</div>
									</div>
								</div>
								<div class="form-group row mb-0"> 
									<label for="objeto" class="col-sm-4 col-form-label-sm font-weight-bold">Objeto</label>
									<div class="col-sm-8"> 
										<div class="form-control-sm form-control-plaintext">{{convenio.proposta.objeto}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 mb-2"> 
						<h8 class="text-uppercase font-weight-bold link-agiliza">Custos</h8>
					</div>
					<div class="col-md-12">
						<div class="card mb-3">
							<div class="card-body">
								<div class="form-group row mb-0"> 
									<label for="valor_repasse" class="col-sm-4 col-form-label-sm font-weight-bold">Valor Repasse</label>
									<div class="col-sm-8"> 
										<div class="form-control-sm form-control-plaintext text-right">R$ {{convenio.proposta.valor_repasse}}</div>
									</div>
								</div>
								<div class="form-group row mb-0"> 
									<label for="valor_contrapartida" class="col-sm-4 col-form-label-sm font-weight-bold">Valor Contrapartida</label>
									<div class="col-sm-8"> 
										<div class="form-control-sm form-control-plaintext text-right">R$ {{convenio.proposta.valor_contrapartida}}</div>
									</div>
								</div>
								<div class="form-group row mb-0"> 
									<label for="valor_convenio" class="col-sm-4 col-form-label-sm font-weight-bold">Valor do Convênio</label>
									<div class="col-sm-8"> 
										<div class="form-control-sm form-control-plaintext text-right">R$ {{convenio.proposta.valor_convenio}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12 mb-2"> 
						<h8 class="text-uppercase font-weight-bold link-agiliza">Técnico do Orgão</h8>
					</div>
					<div class="col-md-12">
						<div class="card mb-3">
							<div class="card-body"> 
								<div class="form-group row mb-0"> 
									<label for="nome" class="col-sm-4 col-form-label-sm font-weight-bold">Nome</label>
									<div class="col-sm-8"> 
										<div class="form-control-sm form-control-plaintext">TÉCNICO RESPONSÁVEL</div>
									</div>
								</div>
								<div class="form-group row mb-0"> 
									<label for="telefone" class="col-sm-4 col-form-label-sm font-weight-bold">Telefone</label>
									<div class="col-sm-8"> 
										<div class="form-control-sm form-control-plaintext">(86) 9 9999-9999</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 mt-0 mb-2"> 
						<h8 class="text-uppercase font-weight-bold link-agiliza">Execução Concedente</h8>
					</div>
					<div class="col-md-12">
						<div class="card mb-3">
							<div class="card-body"> 
								<div class="form-group row mb-0"> 
									<label for="valor_liberado" class="col-sm-4 col-form-label-sm font-weight-bold">Valor Liberado</label>
									<div class="col-sm-8"> 
										<div class="form-control-sm form-control-plaintext text-right">R$ 0,00</div>
									</div>
								</div>
								<div class="form-group row mb-0"> 
									<label for="valor_a_liberar" class="col-sm-4 col-form-label-sm font-weight-bold">Valor à Liberar</label>
									<div class="col-sm-8"> 
										<div class="form-control-sm form-control-plaintext text-right">R$ 0,00</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-pane show" id="orgao-concedente" role="tabpanel" aria-labelledby="orgao-concedente-tab">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<a class="nav-link link-agiliza active" id="orgao-concedente-tab" data-toggle="tab" href="#orgao-concedente" role="tab" aria-controls="orgao-concedente" aria-selected="true">Orgão Concedente</a>
			</li>
		</ul>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="1%" class="p-0">
								<a class="nav-link link-agiliza active mb-1" href="{% url 'atividades' convenio.id %}"> <i class="fas fa-plus-circle"></i> </a>
							</th>
							<th width="1%">Protocolado</th>
							<th width="1%" style="white-space: nowrap;">Data prevista</th>
							<th>Responsável</th>
							<th>Considerações</th>
							<th>Situação</th>
							<th width="1%">Anexo</th>
						</tr>
					</thead>
					{% if atividades %}
					<tbody>
						{% for atividade in atividades %}
						<tr> 
							<td class="text-center"><i class="fas fa-caret-right"></i></td>
							<td>{{ atividade.data_protocolado|date:'d/m/Y' }}</td>
							<td>{{ atividade.data_prevista|date:'d/m/Y' }}</td>
							<td>{{ atividade.get_responsavel_display }}</td>
							<td>{{ atividade.consideracoes }}</td>
							<td>{{ atividade.get_situacao_display }}</td>
							<td class="text-center">{% if atividade.anexo %}<a href="/media/{{ atividade.anexo }}"><i class="fas fa-file-alt"></i></a>{% endif %}</td>
						</tr>
						{% endfor %}
					</tbody>
					{% else %}
					<tfoot> 
						<tr>
							<td colspan="7"><div class="alert alert-info mb-0">Nenhuma atividade cadastrada!</div></td>
						</tr>
					</tfoot>
					{% endif %}
				</table>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="licenciamento" role="tabpanel" aria-labelledby="licenciamento-tab">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item" role="presentation">
				<a class="nav-link link-agiliza active" id="licenciamento-tab" data-toggle="tab" href="#licenciamento" role="tab" aria-controls="licenciamento" aria-selected="true">SEMAR</a>
			</li>
		</ul>
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="1%" class="p-0">
								<a class="nav-link link-agiliza mb-1" href="{% url 'licenciamentos_ambientais' convenio.id %}"> <i class="fas fa-plus-circle"></i> </a>
							</th>
							<th width="1%">Protocolado</th>
							<th width="1%" style="white-space: nowrap;">Data prevista</th>
							<th>Responsável</th>
							<th>Considerações</th>
							<th>Situação</th>
							<th width="1%">Anexo</th>
						</tr>
					</thead>
					{% if licenciamentos %}
					<tbody>
						{% for licenciamento in licenciamentos %}
						<tr>
							<td class="text-center"><i class="fas fa-caret-right"></i></td>
							<td>{{ licenciamento.data_protocolado|date:'d/m/Y' }}</td>
							<td>{{ licenciamento.data_prevista|date:'d/m/Y' }}</td>
							<td>{{ licenciamento.get_responsavel_display }}</td>
							<td>{{ licenciamento.consideracoes }}</td>
							<td>{{ licenciamento.get_situacao_display }}</td>
							<td class="text-center">{% if licenciamento.anexo %}<a href="/media/{{ licenciamento.anexo }}"><i class="fas fa-file-alt"></i></a>{% endif %}</td>
						</tr>
						{% endfor %}
					</tbody>
					{% else %}
					<tfoot> 
						<tr>
							<td colspan="7"><div class="alert alert-info mb-0">Nenhum licenciamento ambiental cadastrado!</div></td>
						</tr>
					</tfoot>
					{% endif %}
				</table>
			</div>
		</div>
	</div>
{% endblock %}
