{% extends 'base/base.html' %}

{% load static %}

{% block javascript %}
{{ block.super }}
{% endblock %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Empresa contratada{% endblock %}
{% block body %}
	{% block breadcrumbs %}
		{% breadcrumb_safe "<i class='fas fa-home'></i>" "home" %}
		{% breadcrumb " Convênios " "convenios" %}
		{% breadcrumb " Histórico " "protocolo" convenio.id %}
		{% breadcrumb " Empresa contratada " "protocolo_empresa_contratada" convenio.id %}
		{% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
	{% endblock %}

	<form method="post" class="form" autocomplete="off">
		{% csrf_token %}
		<br />
		<div class="row">
			<div class="col-md-3 form-group">
				<label>CNPJ</label>
				{{ protocolo_empresa_contratada_form.cnpj_empresa_contratada }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-7 form-group">
				<label>Nome</label>
				{{ protocolo_empresa_contratada_form.nome_empresa_contratada }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 form-group">
				<label>Número contrato</label>
				{{ protocolo_empresa_contratada_form.numero_contrato }}
			</div>
			<div class="col-md-2 form-group">
				<label>Data contrato</label>
				{{ protocolo_empresa_contratada_form.data_contrato }}
			</div>
			<div class="col-md-2 form-group">
				<label>Vigênia contrato</label>
				{{ protocolo_empresa_contratada_form.vigencia_contrato }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 form-group">
				<label>Valor contrato</label>
				{{ protocolo_empresa_contratada_form.valor_contrato }}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12 text-right">
				<button class="btn btn-sm btn-primary px-3 py-1">Atualizar <i class="fas fa-paper-plane"></i></button>
			</div>
		</div>
		<br>
	</form>
{% endblock %}