{% extends 'base/base.html' %}

{% load static %}

{% block javascript %}
{{ block.super }}	
<script src="{% static 'js/servico.js' %}"></script>
{% endblock %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}Serviços{% endblock %}
{% block body %}
	{% block breadcrumbs %}
		{% breadcrumb_safe "<i class='fas fa-home'></i>" "home" %}
		{% breadcrumb " Serviços " "servicos" %}
		{% breadcrumb " Servico " "servico" %}
		{% render_breadcrumbs "django_bootstrap_breadcrumbs/bootstrap4.html" %}
	{% endblock %}

	<form method="post" class="form" autocomplete="off">
		{% csrf_token %}
		<br />
		<div class="row">
			<div class="col-md-6 form-group">
				<label for="id_prefeitura">Prefeitura</label>
				<div class="input-group input-group-sm">
				    <div class="input-group-prepend">
				      <div class="input-group-text"><i class="fas fa-asterisk"></i></div>
				    </div>
					{{ servico_form.auto_complete_prefeitura }}
				</div>
				{{ servico_form.prefeitura }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 form-group">
				<label for="id_prefeitura">Responsável</label>
				<div class="input-group input-group-sm">
				    <div class="input-group-prepend">
				      <div class="input-group-text"><i class="fas fa-asterisk"></i></div>
				    </div>
					{{ servico_form.auto_complete_responsavel }}
				</div>
				{{ servico_form.responsavel }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 form-group">
				<label for="id_objeto">Objeto</label>
				{{ servico_form.objeto }}
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-3 form-group">
						<label for="id_data">Data Prevista</label>
						<div class='date'>
							{{ servico_form.data_prevista }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 form-group">
				<label for="id_observacoes">Observações</label>
				{{ servico_form.observacoes }}
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12 text-right"> 
				<button class="btn btn-sm btn-primary px-3 py-1">Salvar <i class="fas fa-paper-plane"></i></button>
			</div>
		</div>
		<br>
	</form>
{% endblock %}