[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"

[packages]
django = "==3.2.15"
gunicorn = "*"
python-decouple = "*"
whitenoise = "==5.3.0"
dj-database-url = "*"
psycopg2-binary = "*"
pillow = "==9.1.1"
django-ordered-model = "*"
django-bootstrap-breadcrumbs = "*"
django-crontab = "*"
djangorestframework = "*"
django-wkhtmltopdf = "*"
num2words = "*"
django-filter = "*"
sentry-sdk = "==1.5.6"

[requires]
python_version = "3.8.3"
