[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"

[packages]
django = "*"
gunicorn = "*"
python-decouple = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"
pillow = "*"
django-ordered-model = "*"
django-bootstrap-breadcrumbs = "*"
django-crontab = "*"
djangorestframework = "*"
django-wkhtmltopdf = "*"
num2words = "*"

[requires]
python_version = "3.6"
