h1, .nav, .btn {
	font-family: 'Viga', sans-serif;
}

table {
	font-size: .80rem;
}

a:hover {
	text-decoration: none !important;
}

.table-hover tbody tr:hover {
	background-color: #ebf4ec !important;
} 

.dropdown-item {
	font-size: .75rem;
}

.dropdown-toggle::after {
	content: none !important;
}

.red {
	color: #E74C3C;
}

.bg-red {
	background-color: #E74C3C;
}

.yellow {
	color: #F7DC6F;
}

.bg-yellow {
	background-color: #F7DC6F;
}

.blue {
	color: #3498DB;
}

.bg-blue {
	background-color: #3498DB;
}