h1, .nav, .btn {
	font-family: 'Viga', sans-serif;
}

table {
	font-size: .80rem;
}

a:hover {
	text-decoration: none !important;
}

.table-hover tbody tr:hover {
	background-color: #ebf4ec !important;
} 

.dropdown-item {
	font-size: .75rem;
}

.dropdown-toggle::after {
	content: none !important;
}