body {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

body::-webkit-scrollbar {
    display: none;
}

.medicon{
    font-size: 20px;
}

.navbar{
    height:50px;
}

.container-fluid{
    padding:0px;
}

.row{
    margin:0px;
}

.row-btns{
    display:flex;
    justify-content: space-between;
}

.btngroup1{
    width:48%;
}

.btngroup2{
    width:40%;
    display: flex;
    justify-content: flex-end;
}

.modal-dialog {
    min-width: 50vw;
}

.mod-item {
    padding: 5px 20px 5px 20px;
    font-weight: 400;
    font-size: 16px !important;
    color: #212529;
    white-space: nowrap;
    width: 100%;
}

.mod-item:hover {
    background-color: #cacaca;
    color: #212529;
}

.btn {
    white-space: nowrap;
}

.mgr5{
    margin-right:5px;
}

.link-agiliza {
    cursor: pointer;
}

.tableplus {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
}

.tp-item{
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    border-top: 3px solid #058830;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.step-links{
    display: flex;
    align-items: center;
}

.divline{
    width:100%;
    height:3px;
    background:#058830;
}

.tp-prefeitura {
    width:100%;
    display: flex;
    justify-content: space-between;
}

.tp-dados {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tp-dados-left{
    padding-right: 5px;
}

.tp-dados-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tp-dados-right div{
    white-space: nowrap;
}

.tp-situacao {
    width:100%;
    display: flex;
    justify-content: space-between;
}

.prop {
    min-width: 120px;
    border-radius: 15px;
    -webkit-radius: 15px;
    -moz-radius: 15px;
    text-align: center;
    padding: 2px 5px 2px 5px;
    margin-bottom: 2px;
    
}

.prop-empenhada{
    background: #058830;
    color: #fff;
}

.prop-em-analise{
    background: #d6c803;
    color: #ffffff;
}

.prop-aprovada{
    background: #0080FF;
    color: #fff;
}

.prop-reprovada{
    background: #bd2130;
    color: #fff;
}

.sit-convenio{
    display:flex;
}

.conv {
    width: 200px;
    border-radius: 15px;
    -webkit-radius: 15px;
    -moz-radius: 15px;
    border:1px solid #058830;
    text-align: center;
    margin-bottom: 2px;
    white-space: nowrap;
    height: 28px;
    padding: 2px 5px 2px 5px;
    z-index: 2;
}

.conv-aguardando-aprovacao{
    background-color: #058830;
    position: absolute;
    width: 33px;
    z-index: 1;
}

.conv-projeto-aprovado{
    background-color: #058830;
    position: absolute;
    width: 67px;
    z-index: 1;
}

.conv-aguardando-aceite-licitacao{
    background-color: #058830;
    position: absolute;
    width: 100px;
    z-index: 1;
}

.conv-licitacao-aprovada{
    background-color: #058830;
    position: absolute;
    width: 133px;
    z-index: 1;
}

.conv-recurso-em-conta{
    background-color: #058830;
    position: absolute;
    width: 167px;
    z-index: 1;
}

.conv-convenio-concluido{
    background-color: #058830;
    position: absolute;
    width: 200px;
    z-index: 1;
}

.sidebar{
    width: 15%;
    position:inherit;
    padding: 0px;
    background: #f8f9fa;
}

.sidebar2 {
    width:0%;
    position: fixed;
    top: 50px;
    padding: 0px;
    background: #f8f9fa;
    z-index:100;
}

.sidebar2 .nav-link {
    font-weight: 500;
    color: #333;
}

.main {
    width:82%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand{
    display:flex;
}

.menu-toggle{
    border-radius: 0.25rem;
    -webkit-radius: 0.25rem;
    -moz-radius: 0.25rem;
    background-color: transparent;
    border-color: rgba(255,255,255,.1);
    cursor: pointer;
    padding: 0.25rem 0.75rem;
    line-height: 1;
    margin-right:5px;
}

.navbar-toggler-icon{
    height:18px !important;
    width:18px !important;
}

.paginacao{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

th{
    text-align: center;
}

.bolds{
    font-weight: bold;
}

.accordion{
    width:100%;
}

.cbmain, .cbsecond{
    padding: 5px;
    display:flex;
    flex-direction: row;
}

.cbthird{
    padding: 5px;
    display:flex;
    flex-direction: column;
}

.cbcolumn{
    padding: 5px;
    display:flex;
    flex-direction: column;
}

.cbmain .cbcolumn{
    width: 50%;
}

.cbsecond .cbcolumn{
    width: 100%;
}

.cbrow{
    padding: 5px;
    display:flex;
    flex-direction: row;
}

.card-row{
    padding: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tb-head, .tb-row{
    border-right:1px solid #ccc;
    text-align: center;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tb-row{
    border-top:1px solid #ccc;
    font-size: 12px;
}

.tb-line{
    font-size: 12px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tb-line div{
    padding: 5px 0px 5px 0px;
}

.vflex{
    align-items: center;
}

.tac{
    text-align: center;
}

.spb{
    justify-content: space-between;
}

.close{
    outline: none;
}


.tb-head:last-child, .tb-row:last-child{
    border-right: none;
}

.tb-head{
    font-weight: bold;
}

.tb-10{
    width: 10%;
}

.tb-15{
    width: 15%;
}

.tb-20{
    width: 20%;
}

.tb-23{
    width: 23%;
}

.tb-25{
    width: 25%;
}

.tb-27{
    width: 27%;
}

.tb-30{
    width: 30%;
}

.tb-80{
    width:80%
}

.bbottom{
    border-bottom: 1px solid #ccc;
}

.accordion>.card:not(:last-of-type){
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}


@media(min-width:880px) {
    .menu-toggle{
        display: none;
    }

    .sidebar2{
        display:none;
    }

}

@media(max-width:879px) {
    .main {
        width:98%;
    }

    .sidebar {
        display:none;
    }

    .page_title{
        display: none;
    }
}

@media(min-width:645px) {
    .tableplus {
        display: none;
    }

    .mobile{
        display:none;
    }
}

@media(max-width:644px) {
    .tableless {
        display: none;
    }

    .office{
        display:none;
    }

    .pgdouble{
        font-size: 30px;
    }
    
    .pgsimple{
        font-size: 30px;
        margin: 0px 20px 0px 20px;
    }

    .cbmain{
        flex-wrap: wrap;
    }

    .cbsecond{
        flex-wrap: wrap;
    }

    .cbmain .cbcolumn{
        width: 100%;
    }
}



@media(max-width:389px) {
    .btngroup1{
        width: 100% !important;
    }
    .btngroup2{
        width: 100% !important;
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }
}